In [4]:
%load_ext autoreload
%autoreload 2

import os
import sys
parent_dir = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
print(f"Adding parent directory to sys.path: {parent_dir}")
if parent_dir not in sys.path:
    sys.path.append(parent_dir)


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Set random seed for reproducibility
RANDOM_STATE = 42
np.random.seed(RANDOM_STATE)

# Path to data files
data_path = '../data/scaled/'

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
Adding parent directory to sys.path: c:\Users\Łukasz\OneDrive - Politechnika Warszawska\MINI_1D\Semestr 8\Advanced ML\Project_2\AML_Feature_Selection

In [19]:
# Load the dataset
X_train = pd.read_csv(data_path + 'x_train_scaled.txt', index_col=0, delimiter=' ')
y_train = pd.read_csv(data_path + 'y_train.txt', index_col=0, delimiter=' ', header=None, names=['target'])
X_val = pd.read_csv(data_path + 'x_val_scaled.txt', index_col=0, delimiter=' ')
y_val = pd.read_csv(data_path + 'y_val.txt', index_col=0, delimiter=' ', header=None, names=['target'])
display(X_train.head())
display(y_train.head())
display(X_val.head())
display(y_val.head())

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_490,feature_491,feature_492,feature_493,feature_494,feature_495,feature_496,feature_497,feature_498,feature_499
1796,-1.061760,-1.430582,-1.269855,-0.705374,-1.475228,-0.150262,-0.492853,-0.898017,-0.509204,-0.961760,...,-0.428594,-0.129728,1.770227,-1.641438,-0.694539,-1.101744,0.420421,-0.327320,1.109481,2.629266
3243,0.635321,0.173405,-0.459863,-0.492530,0.326602,-0.154819,-0.657300,0.327381,-0.862406,0.047546,...,0.720985,-0.447933,-1.201419,-0.931852,0.249667,2.052077,-1.233392,0.176505,-1.495024,-0.502881
2491,-1.556317,-1.179233,-1.646494,-1.840114,-1.433921,-1.911075,-1.584349,-1.848375,-1.193125,-1.170438,...,-0.105631,0.522542,-1.359657,-0.754821,-0.653445,-0.429249,0.692709,-0.009011,-1.643400,0.267704
2106,1.854008,2.473477,2.300627,2.290066,2.108822,1.339617,1.961996,2.177571,2.311000,2.343364,...,-0.306461,-0.525729,0.574375,-1.000787,0.509626,-1.543840,-1.330246,1.651928,-0.710540,0.400211
1644,1.246549,1.573811,0.839090,0.243235,1.341272,-0.555837,0.206970,0.617812,0.040963,1.583681,...,0.447064,1.513548,-0.718408,0.849572,-0.762026,2.579953,-0.761831,0.316800,0.365574,0.574542

      target
1796       0
3243       0
2491       0
2106       1
1644       1

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_490,feature_491,feature_492,feature_493,feature_494,feature_495,feature_496,feature_497,feature_498,feature_499
3210,-1.016373,-0.830878,-0.949417,-1.092039,-0.649982,-0.948220,-0.704742,-0.906946,-1.078683,-0.776383,...,-0.147137,-0.834506,0.428385,-0.983132,0.543081,-0.628622,-1.362481,0.876653,-0.305036,0.782935
1744,-0.320987,-0.412876,0.652793,0.608049,-0.202902,0.753219,1.016695,0.162116,0.665889,-0.213165,...,-0.498311,-0.819108,-0.907412,0.019212,-0.319829,1.131367,1.303128,-0.349172,1.979632,1.231065
4225,0.247709,0.701936,0.846909,1.039452,0.801039,0.592838,0.323209,0.655934,0.402336,0.338855,...,-1.152223,-0.191899,-0.858449,-1.012192,0.344732,0.420072,-1.322336,0.142541,0.683565,1.321314
4394,0.638851,0.136789,0.033431,-0.185706,0.372500,0.251932,-0.036259,0.324428,-0.270439,-0.035184,...,0.338226,0.809959,0.767970,0.012357,-0.492245,-1.037696,-0.822164,-0.593685,-0.454925,1.049001
3982,-0.359133,0.945827,0.394031,0.826619,-0.339667,-1.236148,0.601570,-1.109937,1.920960,1.504237,...,1.543736,-0.793822,-1.380566,-0.732538,-1.320938,-0.420209,0.189190,0.424566,-0.584113,0.121015

      target
3210       1
1744       0
4225       0
4394       1
3982       1